{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <link href="{% static 'css/mov.css' %}" rel="stylesheet">
</head>
<body>
    <div class="movies-container">
        <h2>Movies</h2>
        <div class="search-filter">
            <form method="GET" action="{% url 'search_movies' %}">
                <input type="text" name="query" placeholder="Search..." value="{{ request.GET.query }}">
                <button type="submit">Search</button>
            </form>
            <form method="GET" action="{% url 'movies' %}">
                <label for="genre">Filter by Genre:</label>
                <select name="genre">
                    <option value="">All Genres</option>
                    {% for genre in genres %}
                    <option value="{{ genre.id }}" {% if genre.id|stringformat:"s" == request.GET.genre %}selected{% endif %}>{{ genre.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Filter</button>
            </form>
        </div>
    </div>


<div class="container">
    <div class="row justify-content-center mt-5">
      {% for movie in movies %}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card mb-3">
            <h3><a href="{% url 'movie_detail' movie.id %}">
              <img src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="354" height="250">
            </a>

            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">{{ movie.description }}</p>
                {% if request.user == movie.user %}
                <div class="movie-actions">
                    <a href="{% url 'edit_movie' movie.id %}">Edit</a>
                    <a href="{% url 'delete_movie' movie.id %}">Delete</a>
                </div>
                {% endif %}


            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>





    <div class="pagination-container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if movies.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1{% if query %}&query={{ query }}{% endif %}{% if selected_genre_id %}&genre={{ selected_genre_id }}{% endif %}" aria-label="First">
                        <span aria-hidden="true">&laquo; First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.previous_page_number }}{% if query %}&query={{ query }}{% endif %}{% if selected_genre_id %}&genre={{ selected_genre_id }}{% endif %}" aria-label="Previous">
                        <span aria-hidden="true">&lsaquo; Previous</span>
                    </a>
                </li>
                {% endif %}
                <li class="page-item disabled">
                    <span class="page-link">Page {{ movies.number }} of {{ movies.paginator.num_pages }}</span>
                </li>
                {% if movies.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.next_page_number }}{% if query %}&query={{ query }}{% endif %}{% if selected_genre_id %}&genre={{ selected_genre_id }}{% endif %}" aria-label="Next">
                        <span aria-hidden="true">Next &rsaquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ movies.paginator.num_pages }}{% if query %}&query={{ query }}{% endif %}{% if selected_genre_id %}&genre={{ selected_genre_id }}{% endif %}" aria-label="Last">
                        <span aria-hidden="true">Last &raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>



</body>
{% endblock %}
